@import 'src/styles/shared/index';

.upload-box {
  background-color: #c8dadf;
  position: relative;
  text-align: center;
}

figure.preview-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  position: relative;

  img.preview-image {
    border: 2px solid #CD5C5C;
    border-radius: 10px;
    width: 320px;
    padding: 5px;

    @include mobile {
      width: 250px;
    }
  }

  figcaption {
    text-align: center;
  }
}