<ng-container [formGroup]="categoriesForm">
  <ng-container formArrayName="categories">
    <div class="text-base text-gray-700 mb-4">
      There are {{ length }} categories in total: {{ categoriesString }}
    </div>

    <mat-card class="mb-4 shadow-none" *ngFor="let control of categories?.controls; index as i" [formGroupName]="i">
      <div class="flex mb-2">
        <mat-form-field class="flex-1">
          <mat-label>Category Name</mat-label>
          <input matInput formControlName="name" placeholder="Foods and Beverages">
        </mat-form-field>
      </div>

      <div class="max-w-screen-sm grid grid-cols-2 gap-4">
        <mat-form-field>
          <mat-label>Representing Color</mat-label>
          <input matInput formControlName="color" placeholder="Colors that will be displayed at other page">
        </mat-form-field>
        <div [ngStyle]="{'background-color': control?.value?.color}" style="height: 35px;" class="rounded-full py-2 px-4 text-center">
          <span class="font-bold text-white">
            {{ control?.value?.name }}
          </span>
        </div>
      </div>

      <div class="mb-3 grid grid-cols-5 gap-6">
        <button mat-flat-button color="primary" (click)="create(i)" *ngIf="!(control?.value?.persisted)">Create</button>
        <button mat-flat-button color="accent" (click)="update(i)" *ngIf="control?.value?.persisted">Update</button>
        <button mat-flat-button color="warn" (click)="delete(i)" *ngIf="control?.value?.persisted">Delete</button>
      </div>
    </mat-card>
  </ng-container>
</ng-container>