<div class="hero-image">
  <div class="title">
    <h1 class="text-3xl lg:text-5xl">Legal Disclaimer</h1>
  </div>
</div>

<div class="container mx-auto px-5 md:px-10 lg:px-14 py-5">
  <h3 class="text-xl font-bold">Website Disclaimer</h3>

  <p class="font-bold">Last updated: 9th Jan 2022</p>

  <section>
    <p>
      Thank you for visiting {{ websiteUrl }}.
    </p>

    <p>
      This disclaimer ("Disclaimer") is a legally binding agreement between you ("user," "visitor," "you", or "your")
      and this website ("we,", "our" or "us"). It sets forth the general guidelines, disclosures and terms of your use
      of
      this {{ websiteUrl }} website ("website", "services," "products," "information," or "content") operated by us.
    </p>

    <p>
      Please read this disclaimer carefully before continuing to use this website. Do not access and use the site if you
      do not agree to the terms of this dlsclaimer. By using this website or its services, you acknowledge that you have
      throughly read and also understand the terms of this disclaimer and hereby agree to be bound thereof.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Disclaimer</h4>

    <p>
      The information or content displayed on this website is the intellectual property of us. You may not reuse,
      republish or reprint such information or content without our consent.
    </p>

    <p>
      All the information or content on this website is published in good faith and solely for general purposes. They
      are not in any way intended to serve as a substitue of professional advise. Our website is provided on an "as is"
      basis and {{ websiteUrl }} makes no representations or warranties of any kind or in any form, whether express or
      implied, about the completeness, timeliness, reliability, availability, validity, suitability, and accuracy, or
      guarantee that there will be no losses, errors, and omissions with respect to the information, or content
      contained on this website. Any action taken in reliance on any such information or content provided on this
      website {{ websiteUrl }} is strictly at your own risk.
    </p>

    <p>
      As a result, {{ websiteUrl }}, its partners, employees, agents, or site maintainer will not be held liable for any
      accruing loss or damage as a result of the use of, reliance on, and reference to our website, including without
      limitation, any special or incidental, direct or indirect, and punitive, or consequential loss or damage
      whatsoever.
    </p>

    <p>
      At {{ websiteUrl }}, we make every effort to keep the website running smoothly. However, we take no legal
      responsibility and will not be liable if the website is temporarily unavailable or inaccessible due to technical
      malfunctions beyond our control.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">External Disclaimer</h4>

    <p>
      Through our website, you can follow links to visit external websites or content originating from third-party
      websites that are not in any way affiliated with {{ websiteUrl }}. While we try to provide only quality links to
      relevant and ethical websites, we have no control over the nature, content, accuracy, adequacy, reliability,
      validity, and availablity of these sites. Accordingly, the inclusion of such links to other websites does not in
      any way imply a recommendation or endorsement for the services or products contained on those sites. Also, site
      owners and content may change without notice and may occur before we have the opportunity to remove broken or
      harmful links.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Professional Disclaimer</h4>

    <p>
      {{ websiteUrl }} does not contain professional advise. This site's information and content are provided for
      general information and educational purposes only and are not substitutes for professional advise.
    </p>

    <p>
      We recommend that you also consult with the appropiate professionals before taking any actions based on such
      information, as the use or reliance of any such information contained on this site is solely at your own risk.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Affiliates Disclaimer</h4>

    <p>
      Our website may contain links to affiliate sites, and we may receive an affiliate comission for any purchases made
      by you on those sites using such affiliate links.
    </p>

    <p>
      Please know that other sites may have different privacy policies and terms beyond our control when you leave our
      website.
      {{ websiteUrl }} does not monitor or investigate any transaction between you and any such third-party. We
      recommend checking the Privacy Policies of these sites and their Terms and Conditions before uploading any content
      or engaging in any business or transaction.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Testimonial Disclaimer</h4>

    <p>
      {{ websiteUrl }} may contain testimonials by users of services or products that reflect such users' experiences
      and opinions. However, such experiences, opinions and thoughts are personal to such users and do not necessarily
      represent all other users of our services or products. Testimonials are displayed verbatim except in grammatical
      and typing errors and long and extraneous information. Please be aware that the views or opinions in such
      testimonials belonged to the user and do not represent the views of {{ websiteUrl }}. As a result, the
      testimonials should not be construed as representing the adequacy, reliability, validity, and availablity of such
      services or products.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Third Party Application Programming Interface ("API") Disclaimer</h4>

    <p>
      {{ websiteUrl }} might deploy and share data to third party API for verification purpose, including but not
      limited to following: validating photos uploaded to ensure its compliance with our terms and conditions, tracking
      website
      analytics, analysing system behaviour and future planned research and development project. While the website has
      taken
      pragmatic, holistic and meticulous approach by
      considering
      technicality, reliability, privacy and legality aspects before deploying the solution, our website has no control
      over how the
      data will be eventually used by third party service provider. Hence, we taken no legal responsibility and will not
      be liable in an event that third-party API is temporarily unavailable or does not serve its intended, planned
      purpose.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Changes and Amendments</h4>

    <p>
      We reserve the exclusive right to change or modify this policy and its terms at any given time by posting the
      updated version on {{ websiteUrl }}. Notification of those changes will be promptly posted on this site should we
      update, amend, or modify this document. The continued use of this website and its services after any such chanfges
      shall be construed to be content to such changes. However, we advise you to frequently visit this page to ensure
      that you are up-to-date with the latest changes.
    </p>
  </section>

  <section>
    <h4 class="text-lg font-bold">Consent</h4>

    <p>
      By processing to use this website, you hereby acknowledge that you have read this disclaimer in its entirety and
      hereby consent to this disclaimer and agree to all its terms. If you do not agree to be bound by the terms of this
      disclaimer, you are not permitted to continue to use or access this site and its services.

      You also agree that Malaysian law shall govern such use and you agree to submit to the exclusive jurisdiction of
      the Malaysian court.
    </p>
  </section>
</div>