.activity-logs {
  thead > .mat-header-row {
    height: 30px;

    .mat-header-cell {
      vertical-align: middle;
    }
  }

  tbody > tr.mat-row {
    & > td {
      vertical-align: middle;
    }
  }
}

.logs-container {
  height: 600px;

  .audit-trail {
    border: 1px solid rgba(0, 0, 0, 0.20);
  }
}