.configure-section {
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);

  .section-title {
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    color: #333333;

    &:after, &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 150px;
      height: 4px;
      background-color: #1d4e89;
    }
  }
}