table[mat-table].transaction-table {
  tr.mat-header-row {
    height: 40px;
  }

  th, td {
    vertical-align: middle;
  }

  tr.mat-footer-row {
    font-weight: bold;
  }

  tr.bold-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.mobile-list-tile {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);

  mat-expansion-panel-header {
    .title {
      font-size: 0.8rem;
    }

    * {
      font-size: 0.7rem;
    }
  }

  .transaction-details {
    .details-table {
      display: grid;
      grid-template-columns: 150px 1fr;
      margin-bottom: 4px;
      padding-bottom: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      * {
        font-size: 0.7rem;
      }

      .title {
        font-weight: bold;
      }

      .result {
        text-align: right;
      }
    }
  }
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
