<div class="flex justify-between justify-items-center items-center mb-3">
  <h3 class="text-base lg:text-lg text-black mb-0">Transaction History</h3>
  <button class="add" mat-icon-button aria-label="Add Transaction" (click)="addTransaction()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="py-4">
  <div class="mb-5">
    <p class="text-xs text-slate-500 mb-0 uppercase select-none">Search by Range Criteria</p>

    <mat-button-toggle-group [(ngModel)]="queryRange" (change)="changeRangeCriteria($event)" [multiple]="false" [vertical]="mobileView">
      <mat-button-toggle [value]="QueryRangeMode?.TODAY">Today</mat-button-toggle>
      <mat-button-toggle [value]="QueryRangeMode?.YESTERDAY">Yesterday</mat-button-toggle>
      <mat-button-toggle [value]="QueryRangeMode?.CURRENT_WEEK">Current Week</mat-button-toggle>
      <mat-button-toggle [value]="QueryRangeMode?.CURRENT_MONTH">{{ today | date:'MMMM' }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mb-5">
    <p class="text-xs text-slate-500 mb-0 uppercase select-none">Search by Amount Criteria</p>

    <mat-form-field appearance="fill" class="mr-3">
      <mat-label>Min</mat-label>
      <input matInput type="number" [(ngModel)]="queryMinAmount" (ngModelChange)="changeAmountCriteria()">
      <button *ngIf="queryMinAmount" matSuffix mat-icon-button aria-label="Clear" (click)="queryMinAmount=0">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Max</mat-label>
      <input matInput type="number" [(ngModel)]="queryMaxAmount" (ngModelChange)="changeAmountCriteria()">
      <button *ngIf="queryMaxAmount" matSuffix mat-icon-button aria-label="Clear" (click)="queryMaxAmount=0">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-6 items-center">
    <div class="mb-5">
      <p class="text-xs text-slate-500 mb-0 uppercase select-none">Search by Category Criteria</p>
      <button mat-flat-button (click)="openCategoryDialog()" class="block"
        [matBadge]="queryCategories?.length || 0" matBadgeSize="small" matBadgeColor="warn" [matBadgeOverlap]="true"
        [matBadgeHidden]="!queryCategories || queryCategories?.length === 0">
        Open Query Dialog
      </button>
    </div>
  
    <div class="mb-5">
      <p class="text-xs text-slate-500 mb-0 uppercase select-none">Search by Importance Criteria</p>
  
      <mat-button-toggle-group [(ngModel)]="queryImportance" (change)="changeImportanceCriteria($event)" [multiple]="false" [vertical]="mobileView">
        <mat-button-toggle [value]="QueryImportanceMode?.ALL">All Trades</mat-button-toggle>
        <mat-button-toggle [value]="QueryImportanceMode?.IMP_ONLY">Important Trades Only</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div *ngIf="dataLoading">
    <mat-progress-bar class="my-6 w-full" mode="query"></mat-progress-bar>
  </div>
</div>

<ng-container *ngIf="!dataLoading; else loadingDataTemplate">
  <mat-expansion-panel (opened)="expanded = true" (closed)="expanded = false" [expanded]="expanded" *ngIf="records.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Results
      </mat-panel-title>
      <mat-panel-description>
        {{ records?.length }} Counts, Total: {{ sum | scurr }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="sm:hidden md:block">
      <table mat-table [dataSource]="dataSource" class="w-full transaction-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">
            <a class="cursor-pointer font-bold text-indigo-800"
              [routerLink]="['../', RouteConstant?.TRANSACTIONS_ACK, row?._id]">
              {{ row?._id | slice:0:10 }}
            </a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Transaction Date Column -->
        <ng-container matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row?._transactionDate | sdate }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let row">
            <app-category-tag [category]="row?.categoryDocument"></app-category-tag>
          </td>
          <td mat-footer-cell *matFooterCellDef>Sum of {{ records?.length }} transactions</td>
        </ng-container>
  
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let row">
            {{ row?.amount | scurr }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ sum | scurr }}</td>
        </ng-container>
  
        <!-- Payment Method Column -->
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef>Payment Methods</th>
          <td mat-cell *matCellDef="let row">
            {{ row?.paymentMethodDocument?.name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <!-- Remarks Column -->
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let row">
            {{ row?.remark | slice:0:12 }}
            <ng-container *ngIf="row?.remark?.length > 12">...</ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        <tr class="bold-row" mat-footer-row *matFooterRowDef="tableColumns"></tr>
      </table>
    </div>
  </mat-expansion-panel>
</ng-container>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

<mat-divider></mat-divider>

<ng-container *ngIf="!dataLoading && records && records.length > 0">
  <transaction-segmentations [data]="records" [sum]="sum"></transaction-segmentations>
</ng-container>

<ng-template #loadingDataTemplate>
  <div class="flex w-full flex-col h-full justify-center items-center py-20">
    <div class="flex flex-col justify-center items-center text-center">
      <mat-spinner class="mb-8 block"></mat-spinner>
      <h5 class="text-base lg:text-lg text-gray-500 tracking-in-expand-fwd">Retrieving Data from Backend</h5>
    </div>
  </div>
</ng-template>